<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome to the UBC Code the Change Community!</h1>
        <p>
        You have successfully signed up to the UBC Code the Change Community email list! Now you will be the first to know about any great new projects, hackathons, and club initiatives.
        </p>
        <p>
            Thank you for joining us! We are excited to have you here.
        </p>
        <p>
        --- The UBC CtC Team
        </p>
    </body>
</html>
