<!-- Partial for Intro Section of Homepage -->
<div class="container-fluid intro-section" id="intro_section">
	<div class="container-fluid foreground">
		<div class="col-sm-8">
			<%= image_tag("ctc-transparent.gif") %>
		</div>
		<div class="col-sm-4">
			<h3>Hi - we are <b>CTC UBC</b>, a group of passionate students striving to effect social change through software.</h3>	
			<%= link_to "Our Projects", '#', class: 'btn btn-default' %>
			<%= link_to "Get Involved", '#', class: 'btn btn-default' %>
		</div>
	</div>
</div>