
	
<div class="container-fluid " id="projects_section">
 <div class="row projects_section"><center><h1>Our Projects</h1></center></div>   
<div id="container">
  <ul class="showcase">
    <li class="thumb1"> <a href="#"><%= image_tag("3.jpg", size: "800x347") %>
      <h3>Project Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a sem leo. Pellentesque et libero id lectus pretium lacinia...</p>
      </a> </li>
     <li class="thumb1"> <a href="#"><%= image_tag("3.jpg", size: "600x347") %>
      <h3>Project Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a sem leo. Pellentesque et libero id lectus pretium lacinia...</p>
      </a> </li>
      <li class="thumb1"> <a href="#"><%= image_tag("3.jpg", size: "600x347") %>
      <h3>Project Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a sem leo. Pellentesque et libero id lectus pretium lacinia...</p>
      </a> </li>
      <li class="thumb1"> <a href="#"><%= image_tag("3.jpg", size: "600x347") %>
      <h3>Project Name</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a sem leo. Pellentesque et libero id lectus pretium lacinia...</p>
      </a> </li>
</ul>
</div>
</div>


