<div class="container" id="team_section">
	<div class="row about-section pop2"><center><h3>Our Awesome Team !</h3></center></div>

	 

  <div class="row text-center pop2">
    
    <div class="col-sm-4">
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
       		</a>
  		</div>
  		<div class="panel-footer">
          NAME-------------Discription---Etc.
        </div>
        
      </div> 
	</div>
    
    
    <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
      
      
    <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>

   <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>

       <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
      
        
	    <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
              <img src="http://placehold.it/200x200/cc9" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
    
   <!--lg helper-->
   <div class="clearfix col-lg-12 visible-lg"></div>
        
	     <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
      
        
	     <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
      
   
        
            <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
      
            
            <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
      
    
     <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
      
       
     <div class="col-sm-4">
      
      <div class="panel panel-default">
 		 <div class="panel-body">
   			<a href="#">
            <img src="http://placehold.it/200x200" class="img-thumbnail img-responsive">
        	</a>
  		</div>
  		<div class="panel-footer">
          This is text
        </div>  
         </div> 
	</div>
      
       
       
  </div>
  
</div>
