<!-- Partial for about section of homepage -->
<div class="container-fluid homepage-info center">
    <div class="container mission">
        <h2>Code the Change effects social change through free, open source software.</h2>
        <%= link_to "Learn More", members_path, class: 'btn btn-primary' %> 
        <%= link_to "Our Projects", projects_path, class: 'btn btn-primary' %> 
        <%= link_to "Meet the Team", members_path, class: 'btn btn-primary' %> 
        <%= link_to "Contact Us", '#contact-us', class: 'btn btn-primary' %> 
    </div>
    <div class="container col-sm-10 col-sm-offset-1 grid">
        <div class="col-sm-6">
            <div class="tile1">
                <div class="overlay">
                    <h4>We empower non profit profits through the software we build.</h4>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tile2">
                <div class="overlay">
                    <h4>Compete in hackathons with a social agenda</h4>
                </div>
            </div>
            <div class="tile3">
                <div class="overlay">
                    <h4>We initiate our own social ventures to create software for social good.</h4>
                </div>
            </div> 
        </div>
    </div>
    <div class="container  about-text">
            <div class="container links"> 
        
    </div>
</div>
