<!-- Partial for Intro Section of Homepage -->
<div class="container-fluid intro-section">
	<div class="container-fluid foreground">
		<div class="col-sm-offset-2 col-sm-8">
			<%= image_tag("ctc-transparent.gif") %>
		</div>
	</div>
</div>
