<% @members.each do |member| %>
	<% fullName = member.firstName 
		if !member.lastName.nil? 
			fullName = fullName + " " + member.lastName
		end 
	%>
	<li><%= link_to fullName, edit_member_path(member) %> 
		| <%= link_to "delete", member, method: :delete,
                                  data: { confirm: "You sure?" } %>
	</li>
<% end %>