<% provide(:title, 'About') %>

<div class="container-fluid about-jumbotron">
	<div class="container-fluid fill center">
		<h2><b>We believe in the power of code to change the world.</b></h2>	
	</div>
</div>

<div class="container-fluid about-page">
	<div class="container-fluid about_1">
		<div class="container col-sm-8 col-sm-offset-2 center">
			<h2>Who are we?</h2>
			<h4>Code the Change began as a student organization at Stanford University founded by Sam King. Since then, multiple chapters have popped up around North America. We are the CTC chapter at the University of British Columbia - a passionate group of students using our technical skills to effect social change. We are mainly comprised of computer scientists and engineers, although our member base includes business, science and art students. </h4>
		</div>
	</div>

	<div class="container-fluid about_2">
		<div class="col-sm-8 col-sm-offset-2 center"> 
			<h2>What do we do?</h2>
			<h4>Our primary goal is to develop free, open source software for non-profit organizations and initiatives. We recognize the importance of collaboratively working with organizations which are expert in an area in order to develop effective solutions. 
			We are interested in a wide range of issues and enthusiastic about applying a wide range of technologies. You can find the software for our projects 
			<%= link_to "here", 'https://github.com/CodeTheChangeUBC' %>. </h4>
			<h4>In addition to working with non-profits, we develop in house projects proposed by our members. In doing so, we allow students to target specific issues about which they feel passionate while also gaining real world problem solving experience. 
			Furthermore, we participate in local hackathons and aim to develop projects geared towards social change.</h4>
		</div>
	</div>

	<div class="container-fluid about_3">
		<div class="col-sm-8 col-sm-offset-2 tagline">
			<div class="col-sm-4 center">
				<%= image_tag ('team2.jpg'), size: "200x150" %>
			</div>
			<div class="col-sm-8">
				<h3>We help bridge the gap between school and making a practical difference in the world.</h3>
			</div>
		</div>
		<div class="col-sm-6 col-sm-offset-3 center">
			<h2>How can I join?</h2>
			<h4>We hold Code nights on Wednesdays at UBC at six pm in Geography 101. You can swing by there and chat with an exec or send us a <%= link_to "message", '#' %> directly. </h4>
			<h2>How does contributing work?</h2>
			<h4>Each project has a project lead who is in charge of ensuring that the deadlines for the project are met and that the project is on track. The project lead also maintains a progress outline on the GitHub page of the project which outlines the progress, what's been done and what is still to do. Here, project contributors can find tasks along with an estimate of how long they will take to accomplish and the kind of technology involved. </h4>
			<h3>Do I have to know how to code?</h3>
			<h4>Absolute not! At the end of the day, even though we develop software, we find that people with no coding experience can still contribute meaningfully in a variety of ways. For example, they might help with the layout or design of an app, provide input on user experience, or help the club find new projects. </h4>
			
		</div>
	</div>
</div>
