<% provide(:title, 'About') %>
<h1>CTC About</h1>
<p>Future About Page<p>

<h4>Hi, welcome to CTC UBC! We are a passionate group of computer science and engineering students using our technical skills to effect social change. Our primary goal is to develop free, open source software for non-profit organizations and initiatives.
         We are interested in a wide range of issues and enthusiastic about applying a wide range of technologies to contribute to their solutions. You can find the software for our projects <%= link_to "here", 'https://github.com/CodeTheChangeUBC' %> and can read more about us <%= link_to "here", about_path %>.</h4>    
    </div>

