<% provide(:title, 'About') %>

<div class="container-fluid about-jumbotron">
	<div class="container-fluid fill center">
		<h2><b>We believe in the power of code to change the world.</b></h2>	
	</div>
</div>

<div class="container-fluid about-page">
	<div class="container-fluid about_1">
		<div class="container col-sm-8 col-sm-offset-2 center">
			<h2>Who are we?</h2>
			<h4>Code the Change began as a student organization at Stanford University founded by Sam King. Since then, multiple chapters have popped up around North America. We are the CTC chapter at the University of British Columbia - a passionate group of students using our technical skills to effect social change. We are mainly comprised of computer scientists and engineers, although our member base includes business, science and art students. </h4>
		</div>
	</div>

	<div class="container-fluid about_2">
		<div class="col-sm-8 col-sm-offset-2 center"> 
			<h2>What do we do?</h2>
			<h4>Our primary goal is to develop free, open source software for non-profit organizations and initiatives. We recognize the importance of working with organizations with expertise in an area in order to develop effective solutions. 
			We are interested in a wide range of issues and enthusiastic about applying a wide range of technologies. You can find the software for our projects 
			<%= link_to "here", 'https://github.com/CodeTheChangeUBC' %>. </h4>
			<h4>In addition to working with non-profits, we develop in house projects proposed by our members. In doing so, we allow students to target specific issues about which they feel passionate while also gaining real world problem solving experience. 
			Furthermore, we participate in local hackathons and aim to develop projects geared towards social change.</h4>
		</div>
	</div>

	<div class="container-fluid about_3">
		<div class="col-sm-8 col-sm-offset-2 tagline">
			<div class="col-sm-4 center">
				<%= image_tag ('team2.jpg'), size: "200x150" %>
			</div>
			<div class="col-sm-8">
				<h3>We help bridge the gap between school and making a practical difference in the world.</h3>
			</div>
		</div>
		<div class="col-sm-6 col-sm-offset-3 center">
			<h3>How can I join?</h3>
			<h4>We hold Code nights on Tuesdays at UBC at six pm in DMP (Hugh Dempster Pavilion) 201. You can swing by there and chat with an exec or send us a <%= link_to "message", 'mailto:codethechangeubc@gmail.com' %> directly. </h4>
			<h3>How does contributing work?</h3>
			<h4>Each project has a team lead who is in charge (sometimes co-leads) of ensuring that the deadlines for the project are met. The project lead also maintains an outline on GitHub which tracks the project's progress, what's been done, and what is still to do. Here, developers can find tasks along with an estimate of how long they will take to accomplish. Team sizes are capped at a certain number - usually 3-5 depending on the project. To be a developer on a project, you don't have to be able to attend every code night. It's more important to follow through with the tasks you're assigned, even if you write most of your code from home. Of course, it's nice to be face to face with your team if possible! If you're stuck on a task, you can always ask your project lead or one of the software leads for help. </h4>
			<h3>Do I have to know how to code?</h3>
			<h4>Unfortunately, we do not currently have the resources to teach people new software development skills. However, even if you have limited programming experience you can still contribute meaningfully in a variety of ways. Helping test software, designing layouts, providing input on user experience, and helping find projects are all ways you can help us. Furthermore, if you are learning how to code we provide a friendly environment in which to do so.</h4>
		</div>
	</div>
</div>
