<% provide(:title, 'Info Panel') %>

<div class="container admin-panel">
	<h2 class="center">Administration Panel</h2>
	<p>Quick links: </br>
	<%= link_to "(Manually) Create New Member", new_member_path %> </br>
	<%= link_to "Create new project", new_project_path %>
	</p>
	
	<div class="col-sm-6">
		<h3>All Members</h3>
		<%= render 'member_info', collection: @members %>
	</div>
	<div class="col-sm-6">
		<h3>All Projects</h3>
		<%= render 'member_info', collection: @members %>
	</div>
	
</div>