<div class="col-sm-3">
    <li class="thumb1"><a href="<%= project_path(project) %>" ><%= image_tag("3.jpg", size: "800x347") %>
      <h3><%= project.title %></h3>
      <p><%= project.description.to_s[0..60] %></p></a>
     </li>
</div>
    