<div class="col-sm-4">
	  <% description = project.description.to_s %>
      <h3><%= link_to project.title, project_path(project) %></h3>
      <p><%= description[0..200] %>
      	<% if description.length > 200 %>
      	...
      	<% end %>
      </p>
      <p>See the software <%= link_to "here", project.githubPage %></p>
</div>
    