<% provide(:title, 'New Project') %>
<h2>New Project</h2>

<div class="col-md-6 col-md-offset-3">
<%= form_for(@project) do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %>
  <%= f.text_field :githubPage, placeholder: 'Github URL' %>
  <%= f.submit "Create this project!", class: "btn btn-primary" %>
<% end %>
</div>


