<div class="jumbotron">
    <h1><%= @project.title %></h1>
</div>
<%= link_to "Edit Project", edit_project_path(@project) %>

<p>
    <%= @project.description %>
</p>

<p>You can see the software for the project <%= link_to "here", @project.githubPage %>
</p>