<h1>Existing Member Page</h1>
<p>Find me in app/views/member/show.html.erb</p>

<p>
    <strong>firstName:</strong>
    <%= @member.firstName %>
</p>

<p>
    <strong>lastName:</strong>
    <%= @member.lastName %>
</p>

<p>
    <strong>studentNumber:</strong>
    <%= @member.studentNumber %>
</p>


