<div class='container-fluid post-container'>
	<h3><%= post.title %></h3>
	<% if admin? %>
		<%= link_to "Edit Post", edit_post_path(post) %> |
		<%= link_to "Delete Post", post,
	      method: :delete, 
	      data: { confirm: "Are you sure you want to delete this post? "} %>
	<% end %>
	<h5><%= markdown(post.text) %></h5>
</div>