// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Colour Pallet:
//    :root {
//        --main-bg-color: #700961;
//        --secondary-bg-color: #B80D57;
//        --tertiary-bg-color: #E03E36;
//        --spot-bg-color: #FF7C38;
//    }
//    http://colorhunt.co/c/42937


// Colour Pallet 1:
//    main: #FFDBC5
//    secd: #EF4339
//    tert: #B01C33
//    spot: #2E112D
//    http://colorhunt.co/c/32519

// colour pallet 2:
:root {
    --main-bg-color: #D8FFF1;
    --secondary-bg-color: #78E4D4;
    --tertiary-bg-color: #B485D8;
    --spot-bg-color: #5B73A7;
}
//   http://colorhunt.co/c/9385 



body {
    position: relative;
    background-color:var(--main-bg-color);
}

.affix {
    top:0;
    width:100%;
    z-index: 9999 !important;
}

.navbar {
    margin-bottom: 10px;
}

.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

// TODO: fix button specificity

.button.myButton {
    background-color:var(--spot-bg-color);
    color:black;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
}

.button.myButton:hover {
    background-color:var(--tertiary-bg-color);
    color:black;
}

#main_section {
    padding-top:50px;
    color:black;
    background-color:var(--main-bg-color);
}


#about_section {
    padding-top:50px;
    color: black;
    background-color:var(--secondary-bg-color);
}
#projects_section {
    padding-top:50px;
    color: black;
    background-color:var(--main-bg-color);
}

#project_slides {
    text-align:center;
    background-color:var(--tertiary-bg-color);
}

#subscribe_section {
    padding-top:50px;
    color: black;
    background-color:var(--secondary-bg-color);
}
