@import "bootstrap-sprockets";
@import "bootstrap";

/* This is the global styling sheet for the site */

/* Directory #############################################
	
	1. Variables
	2. Universal
	3. Header
	4. Footer
	5. Homepage

##########################################################*/

/* ============================================
================== VARIABLES ==================
==============================================*/ 

$light_gray: rgb(230,230,230);
$ctc_green: #89C35A;
$ubc_blue: #1F3961;
$rich_green: #00cc00;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* ============================================
============== UNIVERSAL ======================
==============================================*/ 

section { 
	overflow: auto;
}

.center {
	text-align: center;
}

body {
	font-family: Gill Sans;
	padding-top: 50px;
	background-color: white;
}

/* For debug environment */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


/* ============================================
============== HEADER ========================
==============================================*/ 

.navbar {
	background-color: rgba(255,255,255,0.8);
	border-bottom: 2px solid gray;
	.navbar-brand {
		padding: 0;
		padding-left: 20px;
	}
	#logo {
		float: left;
	}
	.container .navbar-header {
		margin-left: 0;
		margin-right: 0;
	}
	.navbar-nav li {

	}
	.navbar-nav li a:hover, 
	.navbar-nav li a:focus {
		background-color: rgba(255,255,255,0);
		color: $rich_green;
	}
}


/* ============================================
================== FOOTER =====================
==============================================*/ 

footer {
	padding-left: 0;
	padding-right: 0;
	margin-top: 30px;
	padding-top: 20px;
	background-color: $light_gray;
	a {
		color: black;
		padding-left: 5px;
		padding-right: 5px;
		&:hover {
			color: black;
			text-decoration: underline;
		}
		img {
			&:hover {
				opacity: 0.4;
			}
		}

	}
	.copyright {
		padding-top: 20px;
		color: gray;
	}
}

/* ============================================
================== HOMEPAGE ===================
==============================================*/ 

.intro-section {
	background: image-url("ubc1.png");
	height: 600px;
	border-bottom: 2px solid black;
	padding-left: 0;
	padding-right: 0;
	.foreground {
		background-color: rgba(255,255,255,0.8);
		height: 100%;
		width: 100%;
		.col-sm-8 {
			margin-top: 5%;
			img {
				width: 100%;
				height: 100%;	
			}
		}
	}
}

.homepage-info {
	padding-left: 0;
	padding-right: 0;
	.mission {
		padding-top: 30px;
		padding-bottom: 30px;
		color: gray;
		.btn {
			background-color: $ubc_blue;
			border-color: $ubc_blue;
			color: white;
			margin: 20px 20px 20px 30px;
			&:hover {
				opacity: 0.4;
			}
		}
	}
	.col-sm-5, .col-sm-7, .col-sm-6 {
		padding: 0;
	}

	.grid {
		.tile1 {
			width: 100%;
			height:360px;
			background: image-url("team1.jpg");
			background-size: cover;
			position: relative;
			overflow:hidden;
			.overlay {
				position: absolute;
				height: 100%;
				width: 100%;
				margin: 0;
				background: rgba(255,255,255,0.75);
				text-align:center;
				color: white;
				opacity: 0;
				-webkit-transition: opacity .55s ease;
				h4 {
					color: $ubc_blue;
					padding-top: 30%;
				}
			}
			&:hover .overlay {
				opacity: 1;
			}
		}
		.tile2 {
			width: 100%;
			height:180px;
			background: image-url("mboard2.jpeg");
			background-size: cover;
			position: relative;
			overflow:hidden;
			.overlay {
				position: absolute;
				height: 100%;
				width: 100%;
				margin: 0;
				background: rgba(255,255,255,0.75);
				text-align:center;
				color: white;
				opacity: 0;
				-webkit-transition: opacity .55s ease;
				h4 {
					color: $rich_green;
					padding-top: 15%;
				}
			}
			&:hover .overlay {
				opacity: 1;
			}			
		}
		.tile3 {
			width: 100%;
			height:180px;
			background: image-url("preet2.JPG");
			background-size: cover;
			position: relative;
			overflow:hidden;
			.overlay {
				position: absolute;
				height: 100%;
				width: 100%;
				margin: 0;
				background: rgba(255,255,255,0.75);
				text-align:center;
				color: white;
				opacity: 0;
				-webkit-transition: opacity .55s ease;
				h4 {
					color: black;
					padding-top: 15%;
				}
			}
			&:hover .overlay {
				opacity: 1;
			}

		}
	}
}

/* ============================================
================== ABOUT PAGE =================
==============================================*/ 

.about-jumbotron {
	background: image-url('code1.jpg');
	background-size: cover;
	height: 300px;
	padding-left: 0;
	padding-right: 0;
	.fill {
		width: 100%;
		height: 100%;
		background-color: rgba(255,255,255,0.6);
		h2 {
			padding-top: 10%;
		}

	}
}

.about-page {
	padding-left: 0;
	padding-right: 0;
	.about_1 {
		padding-top: 5%;
		padding-bottom: 5%;
		h2 {
			color: $ubc_blue;
		}
	}
	.about_2 {
		padding-top: 5%;
		padding-bottom: 5%;
		background-color: $ubc_blue;
		color: white;
	}
	.about_3 {
		padding-top: 4%;
		padding-bottom: 3%;
		.tagline {
			padding-bottom: 20px;
			border-bottom: solid 2px $light_gray;
			h3 {
				padding-top: 10px;
				color: gray;
			}
			img {
				border-radius: 50%;
			}
		}
		.col-sm-6 {
			text-align: justify;
			padding-top: 5%;
			h2, h3 {
				color: gray;
			}
		}
	}
}



/* ============================================
=============== MEMBERS INDEX =================
==============================================*/ 

.members {
	#box {  
		margin-left: -6%;
		margin-right: -6%; 
		height:230px;
		background: image-url("1.jpg");
		background-size:cover;
		position: relative;
		overflow:hidden;
	}
	#overlay    { 
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 20%;
		background: rgba(0,0,0,0.75);
		text-align:center;
		color: white;
		opacity: 0;
		-webkit-transition: opacity .55s ease;
   }
	#box:hover #overlay {
		opacity: 1;
	}
}

