@import "bootstrap-sprockets";
@import "bootstrap";

/* This is the global styling sheet for the site */

/* Directory #############################################
	
	1. Variables
	2. Universal
	3. Header
	4. Footer
	5. Homepage
	6. Members Index
	7. Member's Edit
	8. Project Index
	9. Project Show
	10. Project New
	11. Login page
	12. New Member page
  13. Posts

##########################################################*/

// FOR DEBUGGING. Uncomment this line to get a border around
// every element. Useful for seeing the spacing of everything.
//*{ border: 1px solid red; }

/* ============================================
================== VARIABLES ==================
==============================================*/

$light_gray: rgb(230,230,230);
$dark_gray: rbg(180,180,180);
$ctc_green: #89C35A;
$ubc_blue: #1F3961;
$rich_green: #00cc00;

$footer_height: 150px;
$navbar_height: 80px;
$min_desktop_width: 768px;
$max_mobile_width: 767px; 
$max_tablet_width: 1024px;



@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* ============================================
============== UNIVERSAL ======================
==============================================*/

section {
  overflow: auto;
}
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Gill Sans", sans-serif;
  background-color: white;
}

#navbar-offset {
  margin-top: $navbar_height;
}

.page_title {
  text-align: center;
}

/* For debug environment */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.btn {
  -webkit-transition: background .4s, color .4s;
  transition: background .4s, color .4s;

  padding: 20px 70px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 0;
  color: white;
  font-size: 1.0em;
  letter-spacing: .25em;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    background-color: white;
    color: #333333;
  }
}

.fade-in, .fade-in-delayed {
  opacity: 0;
}

.center {
  text-align: center;
}

#error-container {
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  z-index: 999;
}

/* ============================================
============== HEADER ========================
==============================================*/

.global_header {
  height: 80px;
  .navbar {
    background-color: white;
    height: 80px;
    padding-top: 13px;
    border-color: white;
    #social-link {
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 2px;
      a {
        padding: 0;
        -webkit-transition: opacity .3s;
        transition: opacity .3s;
        &:hover {
          opacity: 0.5;
          background-color: white;
        }  
      }
    }
    li {
      a {
        text-transform: uppercase;
        font-size: 1em;
        -webkit-transition: background .3s, color .3s;
        transition: background .3s, color .3s;
        color: $ubc_blue;
        padding: 5px 10px 5px 10px;
        margin-top: 13px;
        border-radius: 3px;
        &:hover {
          color: white;
          background-color: $ubc_blue;
        }
      }
      .link {
        background-color: $ubc_blue;
        border: 1px solid $ubc_blue;
        &:hover {
          background-color: white;
          a {
            color: $ubc_blue;
            text-decoration: none;
            color: $ubc_blue;
          }
        }
      }
    }
    .navbar-brand {
      img {
        margin-top: -15px;
        width: 100px;
        height: auto;
      }
    }
    .navbar-toggle {
      border-color: $ubc_blue;
      .icon-bar {
        height: 4px;
        border-radius: 3px;
        background-color: $ubc_blue
      }
      &:focus {
        background-color: white;
      }
    }
    .navbar-header, 
    .navbar-collapse {
      @media (min-width: 769px) {
        margin-right: 0px;
        margin-left: 0px;
        padding-left: 50px;
        padding-right: 50px;  
        background: white;
      }
    }
    #headerNavbar {
      border-color: white;
      background-color: white;
    }


  }
}


/* ============================================
================== FOOTER =====================
==============================================*/

#footer {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  background-color: $light_gray;
  border-top: 1px solid gray;
  bottom: 0;
  a {
    margin-left: 10px;
  }
}

/* ============================================
================== HOMEPAGE ===================
==============================================*/

#homepage-content-wrapper {
  margin-top: -50px;
  text-align: center;
}

#homepage-intro {
  top: 0;
  height: 690px;
  font-weight: 600;
  background: image-url("ubc.jpg");
  background-size: cover;
  background-attachment: fixed;
  h1 {
    padding-top: 190px;
    color: white;
  }
  h2, h3 {
    padding-top: 20px;
    color: white;
  }
  img {
    padding-top: 30px;
    width: 150px;
    height: auto;
  }
}

#homepage-about {
  padding-top: 70px;
  padding-bottom: 110px;
  img {
    width: 300px;
    height: auto;
  }
  #about {
    margin-bottom: 20px;
    padding-bottom: 40px;
    color: gray;
    h3 {
      line-height: 1.3;
    }
    b {
      font-style: normal;
      color: $ubc_blue;
    }
  }


  .about-grid {
    .col-sm-6 {
      padding-right: 1px;
      padding-left: 1px;
    }
    h3 {
      width: 100%;
      color: white;
    }

    #tile-1 {
      background-image: image-url("mboard2.jpeg");   
    }
    #tile-2 {
      background-image: image-url("team.JPG");
      background-position: 0px -100px;
      background-size: 600px;
    }
    #tile-3 {
      background-image: image-url("team1.jpg");
      background-size: 620px;
    }

    @media (min-width: $min_desktop_width) {
      h3 {
        padding-top: 20px;
        text-align: left;
      }
      #tile-1 {
        height: 501px;
        h3 {
          padding-top: 55px; 
          padding-left: 15px;
          padding-right: 200px;  
        }
        .btn {
          margin-left: 15px;
          margin-top: 30px; 
        }
      }
      #tile-2 {
        height: 250px;
        margin-bottom: 1px;
      }
      #tile-3 {
        height: 250px;
      }
      .btn {
        margin-top: 30px;
        float: left;  
      }
    }

    @media (max-width: $max_mobile_width) {
      h3 {
        padding-top: 20px;
        text-align: center;
      }
      .btn {
        margin-top: 10px;
        float: center;
      }
      #tile-1, #tile-2, #tile-3 {
        height: 300px;
      }
      #tile-1 h3 {
        padding: 35px 5px 0 5px;
      }
    }

  }
}

.keywords {
  height: 400px;
  /* Change height for phones and ipads */
  @media (max-width: $max_tablet_width) {
    height: 510px;
  }
  background-image: image-url('bigteam.jpg');
  background-size: cover;
  background-attachment: fixed;
  #top-tag {
    padding-top: 3%; 
    color: white;
    font-weight: bold;
  }
  #tags {
    margin-top: 5%;
    margin-bottom: 3%;
    ul {
      padding-left: 0px;  
      li {
        list-style: none;
        padding: 5px 13px 13px 5px;
        color: white;
        font-size: 20pt;
        /* Inline words for laptops and desktops */
        @media (min-width: $max_tablet_width) {
          display: inline;  
        }
      }
    }
  }
  #bottom-tag {
    padding-top: 2%;
    color: lightgreen;
  }

  
}

#homepage-contact {
  height: 410px;
  padding-top: 70px;
  color: gray;
  h3 {
    line-height: 1.3;
  }
  .contact-btn {
    background-color: $ubc_blue;
    border-color: $ubc_blue;
    margin-top: 60px;
    &:focus:not(:hover) {
      color: white;
    }
    &:hover {
      background-color: white;
      color: $ubc_blue;
    }
  }
  
  .modal-content {
    font-size: 16px;
    text-align: left;
    color: black;
    p {
      padding-top: 20px;
    }
    a {
      color: $ubc_blue;
    }
  }
}


/* ============================================
================== ABOUT PAGE =================
==============================================*/

.about-jumbotron {
  background: image-url('ubc3.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
  padding-left: 0;
  padding-right: 0;
  h2 {
    padding-top: 11%;
    color: white;
    #emph {
      color: lightgreen;
    }
  }

}

.about-page {
  padding-left: 0;
  padding-right: 0;
  .about_1 {
    padding-top: 5%;
    padding-bottom: 5%;
    h4 {
      color: gray;
    }
    h2 {
      color: $ubc_blue;
    }
  }
  .about_2 {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: lightgray;
    color: white;
    h2 {
      color: $ubc_blue;
    }
    a {
      color: $ubc_blue;
    }
  }
  .about-break {
    height: 400px;
    background-image: image-url('team4.jpg');
    background-size: cover;
    h2 {
      text-align: center;
      color: white;
      padding-top: 9%;
    }
  }
  .about_3 {
    padding-top: 20px;
    padding-bottom: 3%;
    h2 {
      padding-top: 20px;
      text-align: center;
      color: $ubc_blue;
    }
    .col-sm-6 {
      text-align: justify;
      padding-top: 5%;
      h3 {
        color: gray;
      }
      a {
        color: $ubc_blue;
      }
    }
  }
}



/* ============================================
=============== MEMBERS INDEX =================
==============================================*/

.members {
	margin-top: 50px;
	.col-sm-3 {
		padding-left: 0;
		padding-right: 0;
	}
	#box {
		height:230px;
		position: relative;
		overflow:hidden;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	#overlay    {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 60px;
		background: rgba(0,0,0,0.75);
		text-align:center;
		color: white;
		opacity: 0;
		-webkit-transition: opacity .55s ease;
		h4 {
			&:hover {
				text-decoration: underline;
			}
		}
   }
	#box:hover #overlay {
		opacity: 1;
    .clickable {
      cursor: pointer;
    }
	}
	.modal-content {
		.modal-body {
			.links {
				padding-top: 25px;
				p {
					color: gray;
				}
				a {
					color: $ubc_blue;
					font-weight: bold;
					padding-right: 10px;
				}
			}
      #shy {
        color: gray;
      }
		}
		.modal-footer {
			.btn {
				color: $ubc_blue;
				&:hover {
					color: white;
					background-color: $ubc_blue;
				}
			}
		}
	}
  .past-url {
    h2, h3 {
      padding-top: 30px;
      padding-bottom: 30px;
      a {
        color: $ubc_blue;
      }
    }
  }
}

/* ============================================
=============== PAST MEMBERS ==================
==============================================*/

.past-members {
  padding-top: 50px;
  padding-bottom: 150px;
  h2 {
    color: gray;
    padding-bottom: 20px;
  }
  li {
    list-style: none;
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px; 

  }
}


/* ============================================
=============== MEMBER'S EDIT ==================
==============================================*/

.member-edit {
	padding-top: 30px;
	.form {
		background-color: $light_gray;
		border-radius: 5%;
		padding: 12px 40px 12px 40px;
		.btn {
			color: black;
			border: solid 2px black;
			&:hover {
				color: white;
				background-color: $ubc_blue;
			}
		}
    #mkdown {
      margin-top: -25px;
    }
	}
	.avatar {
		padding-top: 20px;
		img {
			border-radius: 5%;
			object-fit: cover;
		}
	}
}

/* ============================================
=============== PROJECTS INDEX ================
==============================================*/

.jumbotron-projects {
	background: image-url('mboard.jpeg');
	background-size: cover;
	height: 300px;
	h2 {
    color: white;
		padding-top: 100px;
	}
}

.upcoming-projects {
  .btn {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Gill Sans", sans-serif;
    font-variant: none;
    border-color: $ubc_blue;
    &:hover {
      background-color: $ubc_blue;
      color: white;
    }
  }
  margin-top: 20px;
  margin-bottom: 30px;
  h3,a {
    color: $ubc_blue;
  }
}

.project-index {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  .year-banner {
    background-color: $ubc_blue;
    color: white;
    width: 100%;
    h2 {
      margin-left: 80px;
    }
  }
  .project-desc {
    height: 120px;
    margin-bottom: 10px;
    h3, h4 {
      -webkit-transition: text-decoration .4s, color .4s;
      transition: text-decoration .4s, color .4s;
      height: 60px;
      padding-top: 15px;
      margin-left: 75px;
      margin-right: 75px;
      text-align: center;
      &:hover {
        text-decoration: underline;
        opacity: 0.7;
        cursor: pointer;
      }
    }
    hr {
      width: 90%;
      padding-bottom: 10px;
    }
  }
	.col-sm-3 {
    padding-left: 0px;
    padding-right: 0px;
		a {
			color: $ubc_blue;
		}
	}
  .project-picture {
    padding-top: 10px;
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
}

/* ============================================
=============== PROJECT SHOW ==================
==============================================*/

.project-show {
	padding-top: 30px;
  h4 {
    font-variant: small-caps;
  }
	p {
		a {
			color: $rich_green;
		}
	}
  #software {
    color: darkgray;
    a {
      color: $ubc_blue;
      cursor: pointer;
    }
  }
	.status {
    font-style: italic;
	}
  .modal-footer {
    .btn {
      color: $ubc_blue;
      &:hover {
        background-color: $ubc_blue;
        color: white;
      }
    }
  }
}

/* ============================================
=============== PROJECT NEW ==================
==============================================*/

.create-project {
	padding-top: 50px;
	padding-bottom: 100px;
	.btn {
		color: black;
		border: solid 1px black;
		&:hover {
			background-color: $ubc_blue;
			color: white;
		}
	}
  #mkdown {
    margin-top: -25px;
  }
}


/* ============================================
=============== LOGIN PAGE ====================
==============================================*/

.login-page {
  padding-top: 80px;
  height: 100vh;
	h4 {
		padding: 30px 0 30px 0;
		color: gray;
	}
	.login-form {
		padding-bottom: 50px;
		img {
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.login {
			&:hover {
				opacity: 0.5;
			}
		}
	}
}

/* ============================================
=============== MEMBER NEW ====================
==============================================*/

.member-new {
	h2 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	p {
		color: gray;
		padding-bottom: 15px;
	}

	.btn {
		color: black;
		border: solid 1px black;

		margin-top: 20px;
		margin-bottom: 70px;
		&:hover {
			background-color: $ubc_blue;
			color: white;
		}
	}
}

/* ============================================
=============== ADMIN LOGIN ====================
==============================================*/

.admin-login {
	h2 {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.btn {
		color: black;
		border-color: black;
		margin-bottom: 100px;
		margin-top: 20px;
		&:hover {
			color: white;
			background-color: $ubc_blue;
		}
	}
}


/* ============================================
=============== POST CREATE ====================
==============================================*/

.create-post, .edit-post {
  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .btn {
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: $ubc_blue;
    border-color: $ubc_blue;
    &:hover {
      background-color: white;
    }
  }
}

.posts-index {
  .no-projects {
    margin-top: 50px;
    color: grey;
  }
  .posts-list {
    margin-bottom: 70px;
    .post-container {
      h3 {
        color: $ubc_blue;
      }
    }
  }
}







