@import "bootstrap-sprockets";
@import "bootstrap";

/* This is the global styling sheet for the site */

/* Directory #############################################
	
	1. Variables
	2. Universal
	3. Header
	4. Footer
	5. Homepage

##########################################################*/

/* ============================================
================== VARIABLES ==================
==============================================*/ 

$light_gray: rgb(230,230,230);
$ftc_green: #89C35A;
$ubc_blue: #1F3961;
$rich_green: #00cc00;


/* ============================================
============== UNIVERSAL ======================
==============================================*/ 

section { 
	overflow: auto;
}

.center {
	text-align: center;
}

body {
	font-family: Georgia, serif;
	padding-top: 50px;
	background-color: white;
}


/* ============================================
============== HEADER ========================
==============================================*/ 

.navbar {
	background-color: rgba(255,255,255,0.8);
	border-bottom: 2px solid gray;
	.navbar-brand {
		padding: 0;
		padding-left: 20px;
	}
	#logo {
		float: left;
	}
	.navbar-nav li.active a, 
	.navbar-nav li.active a:hover,
	.navbar-nav li a:hover, 
	.navbar-nav li a:focus {
		background-color: rgba(255,255,255,0);
		color: $rich_green;
	}
}


/* ============================================
================== FOOTER =====================
==============================================*/ 

footer {
	padding-top: 20px;
	.footer {
		background-color: $light_gray;
		margin-left: -2%;
		margin-right: -2%;
		padding-top: 5px;
		border-top: 1px solid gray;
		.connect {
			color: gray;
			img {
				margin-left: 5px;
				border-radius: 3%;
				&:hover {
					opacity: 0.6;
				}
			}
		}
		.links {
			p {
				float: right;
				a {
					color: gray;
					&:hover {
						color: gray;
						text-decoration: underline;
					}	
				}
			}
		}
	}
}

/* ============================================
================== HOMEPAGE ===================
==============================================*/ 

.intro-section {
	background: image-url("ubc1.png");
	height: 500px;
	.foreground {
		background-color: rgba(255,255,255,0.6);
		height: 100%;
		width: 108%;
		margin-left: -4%;
		.col-sm-8 {
			img {
				width: 100%;
				height: 100%;	
			}
		}
		.col-sm-4 {
			padding-top: 10%;
			h3 {
				padding-right: 20px;
			}
			b {
				color: green;
			}
			.btn {
				background-color: $ubc_blue;
				border-color: $ubc_blue;
				color: white;
				&:hover {
					background-color: $ubc_blue;
					border-color: white;
					color: white;
				}
			}
		}
	}
}

.about-section {
	background-color: $ubc_blue;
	h4 {
		text-align: justify;
	}
	h4, p {
		color: white;
		a {
			color: gray;
			text-decoration: underline;
			&:hover {
				color: $rich_green;
			}
		}
	}
	h2 {
		color:  #66cc00;
		font-variant: small-caps;
		font-family: typewriter;
		font-size: 38px; 
	}
	h3{
	color:  #89C35A;
		font-variant: small-caps;
		font-size: 38px; 
	}

	.about-text {
		padding-bottom: 20px;
		font-family: courier New;
		font-size: 26;
	}
	

}
.row{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: white;

}
.pop{
	background-color: #666699;}

.pop2{
	background-color: $ubc_blue;
}
.about-style1{
.col-sm-4 {
		img {
			border-radius: 50%;
			/*object-fit: cover;*/
		}
	}

	background-color: #666699;
	
}

/* ============================================
================== HOMEPAGE-GRID PROJECT VIEW ===================
==============================================*/ 
.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid li {
	display: inline-block;
	margin: 10px 5px 0 5px;
	vertical-align: top;
	height: 250px;
}

.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}

.og-expander {
	position: absolute;
	background: #ddd;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 40px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 10px 20px;
	border: 3px solid #333;
	display: inline-block;
	margin: 30px 0 0;
	outline: none;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
	border-color: #999;
	color: #999;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}

/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #f9f9f9;
    font-weight: 300;
    font-size: 15px;
    color: #333;
    overflow: scroll;
    overflow-x: hidden;
}

a {
	color: #555;
	text-decoration: none;
}

.container {
	width: 100%;
	position: relative;
}

.container > header {
	width: 90%;
	max-width: 1240px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.container > header {
	padding: 60px 30px 50px;
	text-align: center;
}

.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0 auto;
	font-weight: 700;
	color: #333;
}

.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}

.main > p {
	text-align: center;
	padding: 50px 20px;
}

/* Header Style */
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}



