 <footer id="footer">
  <div class='container'>
      &copy; <%= Time.now.year %>, Code the Change - UBC Chapter 
      <%=link_to 'Contact Us', '/#homepage-contact' %>
      <%= link_to 'Parent Organization', 'https://codethechange.org' %>
  </div>
</footer>
