<div class="col-sm-3"> 
    <div class="ih-item circle colored effect3 right_to_left"><a href="#">
        <div class="img"><%= image_tag("1.jpg") %></div>
        <div class="info">
          <h3><%= member.firstName %></h3>
        </div>
     </div>
  </div>
  