<div class="col-sm-3">
	<div id="box">
    <%= image_tag member.picture %>
	  	<div id="overlay">
	  		<div class="info">
	  			<h4><%= member.firstName %>, Developer</h4>
	  		</div>
	  	</div>
	</div>
</div>
