<h1>Existing Member Page</h1>

<p>
    <strong>firstName:</strong>
    <%= @member.firstName %>
</p>

<p>
    <strong>lastName:</strong>
    <%= @member.lastName %>
</p>

<p>
    <strong>studentNumber:</strong>
    <%= @member.studentNumber %>
</p>


